useDynLib(rcantordb, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(
    cdb_new,
    cdb_load,
    cdb_save,
    cdb_create_set,
    cdb_delete_set,
    cdb_rename_set,
    cdb_add_member,
    cdb_remove_member,
    cdb_add_property,
    cdb_delete_property,
    cdb_update_property,
    cdb_get_property,
    cdb_list_elements,
    cdb_list_all_sets,
    cdb_list_cached_sets,
    cdb_list_properties,
    cdb_list_property_keys,
    cdb_list_string_properties,
    cdb_list_int_properties,
    cdb_list_double_properties,
    cdb_list_bool_properties,
    cdb_list_long_properties,
    cdb_get_cardinality,
    cdb_set_union,
    cdb_set_intersection,
    cdb_set_difference,
    cdb_symmetric_difference,
    cdb_set_complement,
    cdb_is_subset,
    cdb_is_superset,
    cdb_is_disjoint,
    cdb_is_equal,
    cdb_clear_cache,
    print.cantordb
)
S3method(print, cantordb)
